.App {
  text-align: center;
}

.App-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.App-table {
  height: 100vh;
  padding: 10px;
}

.App-body .alert {
  max-width: 225px;
}

.User-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.User-form form {
  max-width: 225px;
}
